<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,800,700,500,200,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">

    <meta charset="utf-8">
    <title>Ping Pong Rankings</title>
  </head>
  <body>
        <section class="sign-up">
          <h1 class="sign-up-tab">Player Sign Up</h1>
          <form id="newplayer">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Bob">
              <label for="skill">Skill-level</label>
              <select class="form-control" name="skill" id="skill">
                <option value="expert">Expert</option>
                <option value="intermediate" selected>Intermediate</option>
                <option value="beginner">Beginner</option>
              </select>
            </div>
            <button type="submit" class="btn btn-default">New Player</button>
          </form>
        </section>
        <section class="game-score">
          <h1 class="game-score-tab">Score A Game</h1>
          <form id="game">
            <div class="form-group">
              <label for="winner">Winner</label>
              <select class="winner" id="winner" name="winner">
              </select>
              <label for="loser">Loser</label>
              <select class="loser" id="loser" name="loser">
              </select>
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </form>
        </section>

        <section class="ranking">
          <table class="ranking-table">
          </table>
        </section>
    <script src="https://code.jquery.com/jquery-2.2.2.js"></script>
    <script src="app.js"></script>
    <script src="layout.js"></script>
  </body>
</html>
