<!DOCTYPE html>
<html>
  <head>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8">
    <title>Ping Pong Rankings</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <form id="newplayer">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Bob">
              <label for="skill">Skill-level</label>
              <select class="form-control" name="skill" id="skill">
                <option value="expert">Expert</option>
                <option value="intermediate" selected>Intermediate</option>
                <option value="beginner">Beginner</option>
              </select>
            </div>
            <button type="submit" class="btn btn-default">New Player</button>
          </form>
        </div>
        <div class="col-md-4">
          <form id="game">
            <div class="form-group">
              <label for="winner">Winner</label>
              <select class="form-control winner" id="winner" name="winner">
              </select>
              <label for="loser">Loser</label>
              <select class="form-control loser" id="loser" name="loser">
              </select>
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </form>
        </div>
        <div class="col-md-4">
          <table class="table table-hover">
            <tr>
              <tr>
                <th>player</th>
                <th>win/loss ratio</th>
                <th>rating</th>
              </tr>
              <td>henry</td>
              <td>.830</td>
              <td>1300</td>
            </tr>
            <tr>
              <td>bob</td>
              <td>.530</td>
              <td>1193</td>
            </tr>
            <tr>
              <td>will</td>
              <td>.830</td>
              <td>945</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
